@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;

  // color-scheme: light dark;
  color: var(--color-shuttle-gray);
  // background-color: #f9f9f9;

  --color-royal-blue: #535BF2;
  --color-cornflower-blue: #7775FF;
  --color-melrose: #9991FF;
  --color-melrose-light: #BAADFF;
  --color-fog: #DBCBFF;
  --color-shuttle-gray: #566573;
  --color-gull-gray: #91A0AF;
  --color-spun-pearl: #ADA9BB;
  --color-link-water: #D0E0F0;
  --color-magnolia:#FBF7FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-cornflower-blue);
  text-decoration: none;

  &:hover {
    color: var(--color-royal-blue);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-magnolia);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-cornflower-blue);
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color:var(--color-royal-blue);
  }

}

input {
  background-color: var(--color-magnolia);
  border-radius: 8px;
  color: var(--color-spun-pearl);
  border: 2px solid var(--color-spun-pearl);
  font-family: Poppins;
  padding: 5px 5px 5px 15px;
  font-weight: 200;
  letter-spacing: 1.3px;
  transition: all .25s ease;
  
  &:hover{
    border: 2px solid var(--color-fog);
  }
  &:focus-visible {
    border: 2px solid var(--color-cornflower-blue);
    outline: none;
  }
}


// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }
